NODE_ENV=development
PORT=9000
DATABASE_URL=postgres://commerce_os:commerce_os_dev_password@localhost:5432/commerce_os_medusa?ssl_mode=disable
REDIS_URL=redis://localhost:6379
CACHE_REDIS_URL=redis://localhost:6379/1
LOCKING_REDIS_URL=redis://localhost:6379/2
MEDUSA_ADMIN_DISABLED=true
JWT_SECRET=commerce_os_medusa_jwt_dev_secret
COOKIE_SECRET=commerce_os_medusa_cookie_dev_secret
STORE_CORS=http://localhost:3004
ADMIN_CORS=http://localhost:3001
AUTH_CORS=http://localhost:3001,http://localhost:3002,http://localhost:3003,http://localhost:3004,http://localhost:3005
